<div {{attributes.addClass('member-bio')}}>
  {% block media_image %}
    <img
        src="https://a11ytalks.com/media/amyjune-bio.png"
        alt="AmyJune"
    />
  {% endblock %}

  <h2 class="member-bio__name">
    {{ label }}
    {% if field_pronouns | render %}
      <span class="pronouns">
        ({{ field_pronouns }})
      </span>
    {% endif %}
  </h2>
  {% if field_title | render %}
    <h3 class="member-bio__title seafoam">
      {{ field_title }}
    </h3>
  {% endif %}
  <div class="member-bio__body">
    {{ body }}
  </div>
  {% if field_callouts | render or field_link | render %}
  <div class="member-bio__meta">
    {% if field_callouts | render %}
    <div class="member-callout">
      <h4>Notable Contributions to Highlight</h4>
      <ul>
        {{ field_callouts }}
      </ul>
    </div>
    {% endif %}
    {% if field_link | render %}
    <div class="member-social">
      <ul class="social-links">
        <li>
          <h4 class="connect">Connect</h4>
        </li>
        {{ field_link }}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <div class="member-bio__link">
    <a href="/pages/about">Back to About</a>
  </div>
</div>
