<div {{ attributes.addClass('event-next') }}>
  <div class='meta'>
    <div class='speaker image'>
      {% block speaker_image %}
        {% include 'a11ytalks:speaker-teaser' with { label: 'Spiffy Speaker' }%}
      {% endblock %}
    </div>
    <div class='content'>
      <h2 class='date'>
        {{ field_date_time }}
      </h2>
      <h3 class='title'>
        <a class='title-link' href={{ url }}>{{ label }}</a>
      </h3>
      <p class="description">
        {{ body }}
        <br /><br />
        <a class='readmore' href={{ url }}>Read more<span class="sr-only"> about {{ label }}</span></a>
      </p>
    </div>
  </div>

  <hr class="hr-last" />
</div>
