
<div {{attributes.addClass('event-teaser')}}>
  {{title_suffix}}
  <div class='event-teaser__meta'>
    <div class="event-teaser__date">
      {{ field_date_time }}
    </div>
    <h2 class="event-teaser__title">
      <a href={{url}} class="event-teaser__title-link">{{label}}</a></h2>
  </div>
  <div class="event-teaser__content">
    <div class="event-teaser__image">
      {% block speaker_image %}
        {% include "a11ytalks:speaker-teaser" %} 
      {% endblock %}
    </div>
    <div class="event-teaser__description">
      {{ body }}
      <a href="{{url}}" class="event-teaser__readmore">Read more<span class="sr-only"> about {{label}}</span> &#8594;</a>
    </div>
  </div>

  <hr class="event-teaser__last" />
</div>
